.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}
.imgDiv {
  background-color: #eee;
  padding: 40px 0 50px 0;
  position: relative;
}
.img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  mix-blend-mode: multiply;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.price {
  font-size: 20px;
  font-weight: 600;
  color: #40c057;
  background-color: white;
  display: inline-block;
  padding: 5px 30px 0 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.content {
  margin-top: 20px;
}
.title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.4;
  cursor: pointer;
}
.description {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
  cursor: pointer;
}
.itemOp {
  display: flex;
  justify-content: space-between;
}
